html{
    font-family: 'Pretendard', sans-serif;
    font-size: var(--basic-font-pc);
}
main{
    min-height: 60vh;
}
h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}
h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}
h3{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}
h4{
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}
p{
    line-height: 140%;
}
.b2{
    font-size: var(--fs-bd2);
}
.fwr{
    font-weight: var(--fw-reg);
}
.fwm{
    font-weight: var(--fw-med);
}
.fwb{
    font-weight: var(--fw-bold);
}
.de{
    font-size: var(--fs-det);
}
.common-frame{
    width: 1440px;
    margin: 0 auto;
}
.sns{
    display: flex;
    gap: .5rem;
}
.sns img{
    height: 1.2rem;
}
.sns svg{
    height: 1.2rem;
}
.mo{
    display: none;
}
.tab{
    display: none;
}
.pc{
    display: block;
}
main{
    margin-top: 100px;
}
.btn-style{
    display: inline-flex;
    padding: .25rem .75rem;
    align-items: center;
    gap: var(--space-normal);
    border-bottom: 1px solid #fff;
}
.btn-style .hover{
    display: none;
}
.btn-style:hover{
    color: var(--point-color);
    border-bottom: 1px solid var(--point-color);
}
.btn-style:hover .basic{
    display: none;
}
.btn-style:hover .hover{
    display: inline-block;
}
.ptc{
    color: var(--point-color);
}

@media (max-width:1440px){
    .mo{
        display: none;
    }
    .tab{
        display: block;
    }
    .pc{
        display: none;
    }
    html{
        font-size: var(--basic-font-tab);
    }
    main{
        margin-top: 5rem;
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
    }
}
@media (max-width:768px){
    .mo{
        display: block;
    }
    .tab{
        display: none;
    }
    .pc{
        display: none;
    }
    html{
        font-size: var(--basic-font-mo);
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;
    }
}    