.product1 .common-frame{
    display: flex;
    gap: var(--space-normal);
    padding-top: var(--space-large);
}
.product1 .common-frame>figure{
    flex: 1;
    aspect-ratio: 1/1;
    line-height: 0;
}
.product1 .common-frame>figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product1 .common-frame>div{
    flex: 1;
}
.txt-pro h1{
    margin-bottom: var(--space-small);
}
.txt-pro h1+p{
    margin-bottom: var(--space-2x-large);
}
.pro-table{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-small) var(--space-normal);
    margin-bottom: var(--space-large);
}
.pro-table dd{
    font-weight: var(--fw-bold);
}
.pro-table span{
    display: block;
    font-weight: var(--fw-reg);
    font-size: var(--fs-bd2);
    /* margin-top: var(--space-small); */
}
.sell-info{
    display: flex;
    gap: var(--space-normal);
    align-items: center;
    padding: var(--space-normal) 0;
    border-top: 1px solid var(--pm-color-0);
    border-bottom: 1px solid var(--pm-color-0);
    margin-bottom: var(--space-large);
}
.sell-info>div{
    flex: 1;
}
.box-number{
    display: flex;
    align-items: center;
}
.btn-minus{
    line-height: 0;
    cursor: pointer;
}
.btn-plus{
    line-height: 0;
    cursor: pointer;
}
.btn-minus img{
    height: 1.2rem;
}
.btn-plus img{
    height: 1.2rem;
}
.current-count{
    padding: 0 1.5rem;
}
.price-result{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-large);
}
.price-result dd{
    font-size: var(--fs-h1);
}
.sell-info>div:last-of-type{
    text-align: right;
}
.btns-buy{
    display: flex;
    gap: var(--space-normal);
    justify-content: flex-end;
    align-items: center;
}
.btns-buy>li a{
    display: flex;
    padding: var(--space-small) 0;
    justify-content: center;
    font-size: var(--fs-bd2);
    font-weight: var(--fw-bold);
    border: 1px solid #000;
}
.btns-buy>li:nth-of-type(1) a{
    justify-content: flex-end;
    border: none;
}
.btns-buy>li:nth-of-type(1){
    flex: 1;
}
.btns-buy>li:nth-of-type(2){
    flex: 2;
}
.btns-buy>li:nth-of-type(3){
    flex: 3;
    background-color: var(--point-color);
}
.sticky-menu-wrap{
    margin-top: 5rem;
    margin-bottom: var(--space-x-large);
    overflow-x: auto;
    position: sticky;
    left: 0;
    top: 5rem;
    z-index: 999;
    padding-bottom: var(--space-2x-large);
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;

    /* 스크롤바 숨기기 */
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE, Edge */
}

.sticky-menu-wrap::-webkit-scrollbar {
    display: none;              /* Chrome, Safari */
}

.sticky-menu{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: var(--space-normal);
    justify-content: center;
    font-size: var(--fs-bd2);
    font-weight: var(--fw-bold);
    text-align: center;
}
.sticky-menu>li{
    flex: 1;
    flex-shrink: 0;
    border-bottom: 2px solid var(--pm-color-100);
}
.sticky-menu a{
    width: 100%;
    padding: var(--space-normal) var(--space-large);
    display: block;
    box-sizing: border-box;
}
.recommend-product h2{
    margin-bottom: var(--space-x-large);
    text-align: center;
}
.nutri{
    margin-top: var(--space-3x-large);
}
.nutri h2{
    margin-bottom: var(--space-x-large);
    text-align: center;
}
.nutri-inner{
    display: flex;
    align-items: flex-end;
    gap: var(--space-normal);
}
.nutri-inner>div{
    flex: 1;
}
.nutri h3{
    margin-bottom: var(--space-small);
}
.nutri h3+p{
    margin-bottom: var(--space-large);
}
.nutri1 table{
    border-top: 2px solid var(--point-color);
    width: 100%;
}
.nutri1 table tr{
    border-bottom: 1px solid var(--pm-color-0);
}
.nutri1 table th{
    text-align: left;
    width: 50%;
    font-weight: var(--fw-reg);
    padding: var(--space-small) 0;
}
.nutri1 table td{
    padding: var(--space-small) 0;
}
.nutri1 table caption{
    text-align: right;
    font-size: var(--fs-bd2);
    margin-bottom: var(--space-small);
}
.review{
    margin-top: var(--space-3x-large);
    margin-bottom: var(--space-3x-large);
}
.review h2{
    margin-bottom: var(--space-x-large);
    text-align: center;
}
.rev-con{
    display: flex;
    gap: var(--space-normal);
    padding: var(--space-large) 0;
    border-bottom: 1px solid var(--pm-color-0);
}
.rev-user-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}
.rev-user-desc{
    flex: 3;
}
.rev-user-desc h4{
    margin-bottom: var(--space-small);
}
.rev-thumb-list{
    margin-bottom: var(--space-small);
    line-height: 0;
    display: flex;
    gap: var(--space-normal);
}
.rev-thumb-list>li{
    flex-shrink: 0;
}
.rev-thumb-list>li img{
    width: 460px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.rev-thumb-wrap{
    overflow-x: auto;
}






@media (max-width: 1440px){
    .rev-thumb-list>li img{
        width: 298px;
    }
}
@media (max-width: 768px){
    .product1 .common-frame{
        gap: var(--space-large);
        padding-top: var(--space-large);
        flex-direction: column;
    }
    .sell-info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .sell-info>div:first-of-type{
        grid-column: 1/3;
    }
    .sticky-menu {
        width: auto;
        justify-content: flex-start;
    }
    .nutri-inner{
        align-items: stretch;
        flex-direction: column-reverse;
        gap: var(--space-large);
    }
    .rev-thumb-list>li img{
        max-width: 250px;
    }
    .rev-con{
        flex-direction: column;
    }
}

@media (max-width: 500px){
    .sticky-menu a {
        width: 100%;
        padding: initial;
        padding-bottom: .5rem;
        display: block;
        box-sizing: border-box;
    }
}